@charset "utf-8";

a{
    text-decoration: none;
    color: rgba(255,255,255,0.6);
}
li{
    list-style: none;
    color: rgba(255,255,255,0.8); 
}

@media (min-width: 1360px) {
    #sousuo{
        width: 100%;
    }
 }
 @media (max-width: 1200px) {
    #sousuo{
        width: 1360px!important;
    }
 }
 #sousuo{
    height: 300px;
    width: 100%;
    background-image:url(../images/d31b0ef41bd5ad6e149c500d8dcb39dbb7fd3ceb.jpg); 
    background-size: 100% 100%;
    background-repeat: no-repeat;
 }

#help_center{
    font-size: 36px;
    color: #fff;
}
#help_sousuo{
    width: 1180px;
    margin: 0 auto;
    position: relative;
    top: 110px;
}
#commit{
    width: 10%;
    height: 50px!important;
    background: #108CEE;
    border:none;
    color: #fff;
}
#tuijie{
    display: block;
    margin-left: 0!important;
    padding-left: 0!important;
}
#tuijie>li{
    list-style: none;
    float: left;
}

#tuijie>li>a{
    font-size: 14px;
}
#tuijie>li>a:hover{
    color: rgba(255,255,255,0.8); 
}
/* ============================================================= */

.dao_nav{
    width: 100%;
    height: 70px;
    background: #F5F5F5;
}
.dao_list{
    height: 70px;
    width: 1180px;
    margin: 0 auto;
}
.dao_list>ul{
    width: 100%;
    height: 100%;
}
.dao_list>ul>li{
    float: left;
    width: 33%;
    height: 100%;
}
ul>li>a>span{
    display: block;
    font-size: 16px;
    height: 70px;
    line-height:70px;
    text-align: center;
    color: #333;
}


/* ====================== */
@media (min-width: 1360px) {
    .server,.money_about,.user_pretend,.often_proplem,.self_help{
        width: 100%;
    }
  
    .containner{
        width: 100%!important; 
    }

 }

 @media (max-width: 1200px) {
    .server,.money_about,.user_pretend,.often_proplem,.self_help{
        width: 1360px!important;
    }
 
    .containner{
        width: 1360px!important; 
    }

 }


/* =========================常用服务============================== */
.server>div>h2{
    margin-bottom: 50px;
    margin-top: 50px;

}

.often_servers1{
    width:22%;
    height: 200px;
    border: 1px solid rgba(0,0,0, 0.3);
    float: left;
    margin-left:3%;
    overflow: hidden;
}

.often_servers1>img{
    width: 72px;
    height: 72px;
    position: relative;
    left: 30%;
    top: 50px;
    
}
#tend_h4{
    position: relative;
    top: 70px;
}
#sigin{
    width: 70px;
    height: 20px;
    border: 1px solid rgba(0,0,0, 0.4);
    margin: 0 auto;
    position: relative;
    top: 100px;
}
#sigin:hover{
    background: blue;
}
/* 第一行第二个 */
.often_servers2{
    width:22%;
    height: 200px;
    border: 1px solid rgba(0,0,0, 0.3);
    float: left;
    margin-left:3%;
    overflow: hidden;
}

.often_servers2>img{
    width: 72px;
    height: 72px;
    position: relative;
    left: 30%;
    top: 50px;
    
}
#tend_h2{
    position: relative;
    top: 70px;
}
#sigin2{
    width: 100px;
    height: 20px;
    border: 1px solid rgba(0,0,0, 0.4);
    margin: 0 auto;
    position: relative;
    top: 100px;
   
}
#sigin2:hover{
    background: blue;
}
/* ======================== */
.often_servers3{
    width:22%;
    height: 200px;
    border: 1px solid rgba(0,0,0, 0.3);
    float: left;
    margin-left:3%;
    overflow: hidden;
}

.often_servers3>img{
    width: 72px;
    height: 72px;
    position: relative;
    left: 30%;
    top: 50px;
    
}
#tend_h3{
    position: relative;
    top: 70px;
}
#sigin3{
    width: 70px;
    height: 20px;
    border: 1px solid rgba(0,0,0, 0.4);
    margin: 0 auto;
    position: relative;
    top: 100px;
}
#sigin3:hover{
    background: blue;
}
/* ============================= */
.often_servers4{
    width:22%;
    height: 200px;
    border: 1px solid rgba(0,0,0, 0.3);
    float: left;
    margin-left:3%;
    overflow: hidden;
}

.often_servers4>img{
    width: 72px;
    height: 72px;
    position: relative;
    left: 30%;
    top: 50px;
    
}
#tend_h5{
    position: relative;
    top: 70px;
}
#sigin4{
    width: 70px;
    height: 20px;
    border: 1px solid rgba(0,0,0, 0.4);
    margin: 0 auto;
    position: relative;
    top: 100px;
}

#sigin4:hover{
    background: blue;
}


/* ================================= */
.often_servers6{
    width:22%;
    height: 200px;
    border: 1px solid rgba(0,0,0, 0.3);
    float: left;
    margin-left:3%;
    overflow: hidden;
}

.often_servers6>img{
    width: 72px;
    height: 72px;
    position: relative;
    left: 30%;
    top: 50px;
    
}
#tend_h6{
    position: relative;
    top: 70px;
}
#sigin6{
    width: 70px;
    height: 20px;
    border: 1px solid rgba(0,0,0, 0.4);
    margin: 0 auto;
    position: relative;
    top: 100px;
}

#sigin6:hover{
    background: blue;
}
/* ================================= */
.often_servers7{
    width:22%;
    height: 200px;
    border: 1px solid rgba(0,0,0, 0.3);
    float: left;
    margin-left:3%;
    overflow: hidden;
}

.often_servers7>img{
    width: 72px;
    height: 72px;
    position: relative;
    left: 30%;
    top: 50px;
    
}
#tend_h7{
    position: relative;
    top: 70px;
}
#sigin7{
    width: 70px;
    height: 20px;
    border: 1px solid rgba(0,0,0, 0.4);
    margin: 0 auto;
    position: relative;
    top: 100px;
}
#sigin7:hover{
    background: blue;
}
/* ============================-财务相关-======================================= */
.money_about{
    background: rgba(0,0,0, 0.1);
}

#ground{
    width: 80%;
    height: 200px;
    background: #F5F5F5;
    margin: 0 auto;
    margin-bottom: 50px;
}

#ground>div>img{
    width: 72px;
    height: 72px;
    display: block;
    margin: 0 auto;
}
/* ===== */
.group1{
    width: 20%;
    margin-top: 30px;
    float: left;
    border-right: 1px solid rgba(0,0,0, 0.1);
}

.group2{
    width: 20%;
    margin-top: 30px;
    float: left;
    border-right: 1px solid rgba(0,0,0, 0.1);
}

.group3{
    width: 20%;
    margin-top: 30px;
    float: left;
    border-right: 1px solid rgba(0,0,0, 0.1);
}

.group4{
    width: 20%;
    margin-top: 30px;
    float: left;
    border-right: 1px solid rgba(0,0,0, 0.1);
}

.group5{
    width: 20%;
    margin-top: 30px;
    float: left;
    
}

/* ===============================账号备案================================== */
#ground_pretend{
    width: 80%;
    height: 180px;
    margin: 0 auto;
    margin-bottom: 50px; 
}


.user_pretend>div>#ground_pretend>div>div>img{
    width: 32px;
    height: 32px;
    margin-left: 10%;
}
.user_pretend>div>#ground_pretend>div>div>span{
    font-size: 18px;
    color: rgba(0,0,0,0.85);
    margin-left: 10%;
}



/* ===== */
#ground_pretend>div>p{
    margin-left: 34%;
}
.jvli,.jvli1,.jvli2{
    margin-top: 5%;
}

.g_p1{
    width: 30%;
    float: left;
    border: 1px solid rgba(0,0,0, 0.1);
    overflow: hidden;
}

.g_p2{
    width: 30%;
    margin-left: 4.5%;
    float: left;
    border: 1px solid rgba(0,0,0, 0.1);
}


.g_p3{
    width: 30%;
    margin-left: 4.5%;
    float: left;
    border: 1px solid rgba(0,0,0, 0.1);
}


/* ================================常见问题======================================= */
.often_proplem{
    background: rgba(0,0,0, 0.1);
}

.problem1,.problem2,.problem3,.problem4{
    width: 22%;
    float: left;
    margin-left: 3%;
}
.often_proplem>div>div>div>ul>li>a{
    color: #999;
}
.often_proplem>div>div>div>ul>li{
    margin-top: 15px;
}


/* ==============================自助工具=================================== */

#ground_self{
    width: 90%;
    margin: 0 auto;
    margin-bottom: 80px;
}
#ground_self>div>img{
    width: 32px;
    height: 32px;
    display: block;

}

.self_help1,.self_help2,.self_help3,.self_help4{
    width: 22%;
    float: left;
    margin-left: 3%;
   
}
.self_help1:hover{
    background: rgba(0,0,0, 0.1);
}
.self_help2:hover{
    background: rgba(0,0,0, 0.1);
}
.self_help3:hover{
    background: rgba(0,0,0, 0.1);
}
.self_help4:hover{
    background: rgba(0,0,0, 0.1);
}
#ground_self>div>h3{
    font-size: 18px;
    color: #333;
    margin-bottom: 20px;
}
#ground_self>div>p{
    font-size: 14px;
    color: #999;
}


/* ========================右侧小部件================ */
