* {
    box-sizing: border-box;
}

.banner {
    background-image: url("../images/ecology-banner.png");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 1920px 542px;
    color: #fff;
}

.banner a:nth-child(1) {
    background-color: #108cee;
}

.main {
    width: 1280px;
}


/* @media (min-width: 1170px) {} */

.banner {
    height: 382px;
}

.banner h2 {
    margin-top: 70px;
    font-size: 42px;
}

.banner p {
    margin-top: 15px;
    font-size: 16px;
    opacity: 0.8;
}

.banner a:nth-child(1) {
    width: 158px;
    height: 36px;
    background-color: #108cee;
    font-size: 14px;
    cursor: pointer;
}

.banner a:nth-child(2) {
    width: 158px;
    height: 36px;
    font-size: 14px;
    cursor: pointer;
    margin-left: 15px;
}

.banner .btns {
    margin-top: 38px;
}

.tt>div {
    margin-top: -60px;
    box-shadow: 1px 1px 1px #eee;
    background-color: #fff;
    padding: 30px;
}

.process {
    padding: 80px 0;
    text-align: center;
}

.process h3 {
    font-size: 30px;
    line-height: 52px;
    color: #23292e;
}

.process p {
    line-height: 26px;
    font-size: 14px;
    color: #999;
}

.process .flowline {
    margin-top: 50px;
}

.process .flowline li {
    float: left;
    list-style: none;
    margin-right: 100px;
}

.process .flowline li:first-child {
    margin-left: 115px;
}

.process .flowline li div {
    margin-left: 20px;
    position: relative;
    width: 72px;
    height: 72px;
    border-radius: 72px;
    background-color: #181820;
}

.process .flowline li i {
    color: #fff;
    font-size: 40px;
    padding: 20px;
    position: absolute;
    top: -12px;
    left: -3px;
}

.process .flowline li span {
    display: inline-block;
    margin-top: 20px;
    font-size: 18px;
    line-height: 36px;
    color: #333;
}

.type {
    background-color: #303030;
    height: 606px;
    padding: 80px 0;
    text-align: center;
}

.type h3 {
    color: #fff;
    font-size: 30px;
    line-height: 52px;
}

.type p {
    color: rgb(255, 225, 255, 0.6);
}

.type .type-block {
    margin-top: 40px;
}

.type .type-block>li {
    float: left;
    background-color: #434547;
    width: 540px;
    height: 324px;
    padding: 30px 38px;
}

.type .type-block h4 {
    color: #fff;
    line-height: 36px;
    font-size: 18px;
}

.type .icons {
    margin-top: 30px;
    list-style: none;
}

.type .icons li {
    float: left;
}

.type .icons li i {
    display: inline-block;
    margin-top: 0;
    padding: 5px;
    width: 64px;
    height: 64px;
    background-color: #565759;
    border-radius: 64px;
    font-size: 40px;
    color: #fff;
}

.type .icons span {
    display: inline-block;
    font-size: 14px;
    line-height: 26px;
    margin-top: 10px;
    color: #fff;
}

.type .links {
    margin-top: 30px;
}

.type a {
    display: inline-block;
    width: 158px;
    height: 36px;
    background-color: #108cee;
    border: 1px solid #108cee;
    color: #fff;
    font-size: 14px;
    line-height: 38px;
    cursor: pointer;
    margin-top: 30px;
    margin-bottom: 20px;
}

.type .block0 {
    margin-right: 20px;
    height: 324px;
}

.type .block1 {
    height: 324px;
}

.type .icons li {
    margin-right: 50px;
    margin-left: -20px;
}

.case {
    height: 779px;
    background-image: url("../images/partnerCase-bg_4b3d1e44.png");
    background-repeat: no-repeat;
    background-size: 1920px 860px;
    background-position: center top;
    text-align: center;
    padding: 80px 0;
    position: relative;
    transition: all 2s;
}

.case h3 {
    font-size: 30px;
    list-style: 52px;
    color: #23292e;
}

.case p {
    font-size: 14px;
    line-height: 30px;
    color: #999;
}

.case .case0 {
    position: absolute;
    top: 180px;
    left: 758px;
    display: block;
    background-color: #f9f9f9;
    padding: 20px;
    text-align: left;
    margin-top: 0;
}

.case .case0:hover {
    /* position: absolute;
    top: 160px;
    left: 758px; */
    transform: translateY(-20px);
    box-shadow: 1px 1px 1px #ccc;
    text-decoration: none;
}

.case .case1 {
    position: absolute;
    top: 386px;
    left: 842px;
    display: block;
    background-color: #f9f9f9;
    padding: 20px;
    text-align: left;
    margin-top: 0;
}

.case .case2 {
    position: absolute;
    top: 578px;
    left: 642px;
    display: block;
    background-color: #f9f9f9;
    padding: 20px;
    text-align: left;
    margin-top: 0;
}

.case .case3 {
    position: absolute;
    top: 628px;
    left: 896px;
    display: block;
    background-color: #f9f9f9;
    padding: 20px;
    text-align: left;
    margin-top: 0;
}

.case .case3:hover {
    transform: translateY(-20px);
    box-shadow: 1px 1px 1px #ccc;
    text-decoration: none;
}

.case .case4 {
    position: absolute;
    top: 626px;
    left: 327px;
    display: block;
    background-color: #f9f9f9;
    padding: 20px;
    text-align: left;
    margin-top: 0;
}

.case .case4:hover {
    transform: translateY(-20px);
    box-shadow: 1px 1px 1px #ccc;
    text-decoration: none;
}

.case .case5 {
    position: absolute;
    top: 446px;
    left: 40px;
    display: block;
    background-color: #f9f9f9;
    padding: 20px;
    text-align: left;
    margin-top: 0;
}

.case .case6 {
    position: absolute;
    top: 228px;
    left: 117px;
    display: block;
    background-color: #f9f9f9;
    padding: 20px;
    text-align: left;
    margin-top: 0;
}

.case .case6:hover {
    transform: translateY(-20px);
    box-shadow: 1px 1px 1px #ccc;
    text-decoration: none;
}

.case h4 {
    color: #333;
}

.case p {
    color: rgb(51, 51, 51, 0.8);
}

.partners {
    background-color: #333;
    background-image: url("../images/ecology-search.png");
    background-repeat: no-repeat;
    background-size: 1920px 459px;
    padding: 80px 0;
    background-position: center top;
    text-align: center;
}

.partners img {
    width: 1180px;
}

.partners h3 {
    color: #fff;
    font-size: 30px;
    line-height: 52px;
}

.partners p {
    font-size: 14px;
    line-height: 30px;
    color: #999;
}

.partners .search {
    margin-top: 40px;
    position: relative;
}

.partners .search input {
    width: 700px;
    height: 20px;
    margin-left: -115px;
    font-size: 14px;
    line-height: 20px;
    color: #ccc;
    padding: 25px 20px;
}

.partners .search .btn {
    display: inline-block;
    cursor: pointer;
    color: #fff;
    background-color: #108cee;
    width: 115px;
    height: 53px;
    font-size: 14px;
    line-height: 50px;
    position: absolute;
    top: 0;
    border-radius: 0;
}

.partners .tips {
    color: #fff;
    margin-left: -400px;
}

.event {
    padding-bottom: 97px;
    background-color: #f5f5f5;
    padding: 80px 0;
    text-align: center;
    transition: all 4s;
}

.event h3 {
    font-size: 30px;
    line-height: 52px;
    color: #23292e;
}

.event p {
    font-size: 14px;
    line-height: 30px;
}

.event .img {
    margin-top: 40px;
    list-style: none;
}

.event .img li {
    float: left;
    position: relative;
    width: 375px;
    font-size: 0;
    top: 0;
}

.event .img li:first-child {
    margin-left: -80px;
    margin-right: 20px;
}

.event .img li:nth-child(2) {
    margin-right: 20px;
}

.event ul li img {
    width: 375px;
    height: 180px;
}

.event .desc {
    font-size: 14px;
    line-height: 30px;
    color: rgb(51, 51, 51, 0.8);
    padding: 20px;
    border: 1px solid #d7d7d7;
    border-top: none;
    background-color: #fff;
}

.event .img li:hover {
    transform: translateY(-20px);
    box-shadow: 1px 1px 1px #ccc;
}

footer {
    background-color: #232526;
    color: #d6d6d6;
}

footer .notice {
    float: left;
    margin-left: -60px;
}

footer .group {
    float: left;
}

footer dl {
    float: left;
    margin: 0 0 30px 0;
}

footer dt {
    margin: 40px 0 20px 40px;
    color: #fff;
}

footer dd {
    font-size: 12px;
    line-height: 24px;
}

footer .notice ul li {
    list-style: none;
    width: 360px;
    overflow: hidden;
    white-space: nowrap;
}

footer .group {
    float: left;
}

footer .group .group1 {
    width: 140px;
}

footer .group dl {
    padding-left: 0;
}

footer ul {
    list-style: none;
}

footer .group2 {
    width: 140px;
}

footer .group3 {
    width: 200px;
}

footer .sale {
    float: left;
    width: 200px;
    margin-top: 50px;
    margin-left: 100px;
}

footer .sale h3 {
    font-size: 20px;
    line-height: 30px;
}

footer span {
    font-size: 12px;
    color: #999999;
    line-height: 24px;
}

footer a {
    color: #999999;
}

footer .msg {
    margin-top: 25px;
    position: relative;
}

footer .msg i {
    font-size: 40px;
    cursor: pointer;
}

.msg img {
    width: 90px;
    height: 90px;
}

.msg i:first-child img {
    display: none;
    position: absolute;
    top: -100px;
    left: -30px;
}

.msg i:last-child img {
    display: none;
    position: absolute;
    top: -100px;
    left: 30px;
}

.msg i:first-child:hover img {
    display: block;
}

.msg i:last-child:hover img {
    display: block;
}

footer .link {
    clear: both;
    padding: 30px 0;
    border-top: 1px solid #656973;
    border-bottom: 1px solid #656973;
    margin-left: -20px;
}

footer .link ul li {
    float: left;
}

footer .link ul li a {
    margin-right: 30px;
}

footer .link>a {
    float: left;
    color: #fff;
    font-size: 12px;
    line-height: 24px;
    margin: 0 42px 0 40px;
}

footer ul li>a {
    font-size: 12px;
}

footer .tips {
    padding: 30px 0 40px 0;
    line-height: 24px;
    font-size: 12px;
    text-align: center;
    color: #fff;
}

footer .tips a {
    color: #fff;
}


/* @media (max-width: 768px) {
    .banner {
        height: 200px;
    }
    .banner h2 {
        margin-top: 50px;
        font-size: 16px;
    }
    .banner p {
        margin-top: 15px;
        font-size: 8px;
        opacity: 0.8;
    }
    .banner a:nth-child(1) {
        /* width: 80px;
        height: 30px; */


/* background-color: #108cee;
        font-size: 10px;
        cursor: pointer;
        padding: 5px 5px;
    }
    .banner a:nth-child(2) { */


/* width: 80px;
        height: 30px; */


/* font-size: 10px;
        cursor: pointer;
        margin-left: 15px;
        padding: 5px 5px;
    }
    .tt>div {
        margin-top: -20px;
        box-shadow: 1px 1px 1px #ccc;
        background-color: #fff;
        padding: 5px;
    }
    .list h4 {
        font-size: 10px;
    }
    .list p {
        font-size: 6px;
    }
} */